{% extends "./_base.html" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <h2>Profile</h2>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>2000生，18歳．柳城中学校．弘学館高校29回生．現在は筑波大学情報学群情報科学類1年．</p>
      <p>筑波大学将棋部，筑波大学プログラミングサークルBrains所属，筑波大学DTMサークルTDL所属．</p>
      <p>趣味はプログラミング，将棋，音楽．プログラミングは4月から始めた(7か月)．現在使っている言語はJavascript(ES6)，Python．
        最近やっていることは，Django，Vue.js，機械学習(keras)，Google Apps Script．</p>
      <p>将棋歴3年目．佐賀県代表で2016年全国新人戦東京大会，
        2017年宮城全国大会団体戦出場．研究エンジョイ勢．</p>
      <p>好きな音楽のジャンルは，Deep Tropical House，Kawaii Future Bass，Artcore，Vocaloid</p>
    </div>
  </div>
  <br><br>
  <h2>Vision</h2>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>未来の社会をつくる．</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Student.University of Tsukuba.</p>
      <p>B.2000,Guraduate Kogakukan High School(29th, 2015~2017). I'm belonging to University of Tsukuba, communication of information science(2018~).</p>
    </div>
  </div>
</div>

{% endblock %}